apiVersion: apps/v1
kind: Deployment
metadata:
  name: foundry-campaign-beta
  namespace: foundry-vtt
  labels:
    app: foundry-vtt
    instance: campaign-beta
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: foundry-vtt
      instance: campaign-beta
  template:
    metadata:
      labels:
        app: foundry-vtt
        instance: campaign-beta
    spec:
      initContainers:
      - name: volume-permissions
        image: busybox:1.36
        command: ["sh", "-c", "chown -R 1000:1000 /data"]
        volumeMounts:
        - name: data
          mountPath: /data
      containers:
      - name: foundry-vtt
        image: felddy/foundryvtt:13.347.0
        ports:
        - containerPort: 30000
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: false
          seccompProfile:
            type: RuntimeDefault
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
        env:
        - name: UV_THREADPOOL_SIZE
          value: "6"
        - name: CONTAINER_CACHE
          value: /data/container_cache
        - name: TIMEZONE
          value: UTC
        - name: FOUNDRY_HOSTNAME
          value: campaign-beta.foundry.lab.jake-watson.co.uk
        - name: FOUNDRY_LOCAL_HOSTNAME
          value: campaign-beta.foundry.lab.jake-watson.co.uk
        - name: FOUNDRY_PROXY_SSL
          value: "true"
        - name: FOUNDRY_PROXY_PORT
          value: "443"
        - name: FOUNDRY_USERNAME
          valueFrom:
            secretKeyRef:
              name: foundry-credentials
              key: username
        - name: FOUNDRY_PASSWORD
          valueFrom:
            secretKeyRef:
              name: foundry-credentials
              key: password
        - name: FOUNDRY_ADMIN_KEY
          valueFrom:
            secretKeyRef:
              name: foundry-credentials
              key: adminPassword
        - name: FOUNDRY_LICENSE_KEY
          valueFrom:
            secretKeyRef:
              name: foundry-license
              key: license-key
        volumeMounts:
        - name: data
          mountPath: /data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: foundry-campaign-beta-data
