apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: dnsendpoints.externaldns.k8s.io
  annotations:
    api-approved.kubernetes.io: "https://github.com/kubernetes-sigs/external-dns/pull/2007"
spec:
  group: externaldns.k8s.io
  names:
    kind: DNSEndpoint
    listKind: DNSEndpointList
    plural: dnsendpoints
    singular: dnsendpoint
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              endpoints:
                type: array
                items:
                  type: object
                  properties:
                    dnsName:
                      type: string
                    recordTTL:
                      type: integer
                    recordType:
                      type: string
                    targets:
                      type: array
                      items:
                        type: string
