apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kratix
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/syntasso/kratix
    targetRevision: main
    path: distribution/single-cluster
  destination:
    server: https://kubernetes.default.svc
    namespace: kratix-platform-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
