# ArgoCD Application for cert-manager
#
# cert-manager is required by Kratix for certificate management.
# This should be synced BEFORE Kratix.

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/cert-manager/cert-manager
    targetRevision: v1.16.2
    path: deploy/crds
    
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
    
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
---
# cert-manager Helm chart (main installation)
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager-controller
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://charts.jetstack.io
    chart: cert-manager
    targetRevision: v1.16.2
    helm:
      values: |
        installCRDs: true
    
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
    
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
